<h1>Editing kich thuoc</h1>

<%= render "form", kich_thuoc: @kich_thuoc %>

<br>

<div>
  <%= link_to "Show this kich thuoc", @kich_thuoc %> |
  <%= link_to "Back to kich thuocs", kich_thuocs_path %>
</div>
